# Ignore node_modules, use package.json to install modules
vue-app/node_modules/

# Ignore __pycache__
flaskServer/__pycache__/

# Ignore *.pyc files
*.pyc

# Ignore .DS_store
*.DS_store

/node_modules/
dist/
frontend/sweettweet/node_modules/
